
/*Invalid input*/
.ly-svInvalid {
    border: 2px solid red;
        }

/*Validation error*/
.ly-svUnval {
    border: 2px dashed lightcoral;
}

/*Buttons*/
/*Edit/Cancel toggle*/
#ly-svTBtn {
    border: 1px groove gray;
    height: 18px;
    vertical-align: middle;
}

/*Submit*/
#ly-svSBtn {
    border: 1px groove gray;
    height: 18px;
    vertical-align: middle;
}

/*Working gif*/
#ly-svWBtn {
    height: 18px;
    vertical-align: middle;
}